* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100svh;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Add styles here! */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

header {
  padding-block: 64px;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding-block: 64px;

  /* This doesn't follow Figma but looks better to me :) */
  height: 100%;
}

.grey-bottom {
  border-bottom: 8px solid hsl(0, 0%, 60%);
}

.max-width-wrapper {
  background-color: white;
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 24px;
  padding-block: 8px;
}

.intro-chunk {
  max-width: 512px;
}

strong {
  color: hsla(160, 100%, 30%, 1);
}

.title {
  margin: 0;
  padding-block: 36px;
}

.indented-heading {
  margin: 0;
  width: fit-content;
  margin-inline-start: -32px;
  padding: 16px 32px;
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}
